{% extends 'webapp/base.html' %}
{% load staticfiles %}
{% block datatablecss %}<!-- Data table css -->
	<link href="{% static 'webapp/assets/plugins/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container-fluid pt-8">

							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="/dashboard/">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Mechanics</li>
								</ol>

							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="card shadow">
										<div class="card-header">
												<h2 class="mb-0" style="float:left">Manage Mechanics</h2>
<button type="button" class="btn btn-success mt-1 mb-1"  style="float:right;" data-toggle="modal" data-target="#modal-form2">Add New</button>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="example" class="table table-striped table-bordered w-100 text-nowrap">
													<thead>
														<tr>
															<th class="wd-15p">No</th>
															<th class="wd-15p">MechanicID</th>
															<th class="wd-20p">Mechanic Name</th>
															<th class="wd-15p">Other Details</th>
															<th class="wd-10p">Edit</th>
															<th class="wd-25p">Delete</th>
														</tr>
													</thead>
													<tbody>


													</tbody>
												</table>
											</div>
										</div>
									</div>


								</div>
							</div>
</div>

    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
												<div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
													<div class="modal-content">
														<div class="modal-body p-0">
															<div class="card bg-primary shadow border-0 mb-0">

																<div class="card-body px-lg-5 py-lg-5">
																	<div class="text-center text-white mb-4 h2">
																		Edit Mechanic
																	</div>
																	<form >
																		<div class="form-group mb-3">
																			<div class="input-group input-group-alternative">
																				<div class="input-group-prepend">
																					<span class="input-group-text"><i class="ni ni-email-83"></i></span>
																				</div>
                                                                                <input class="form-control" name="eid" id="eid" placeholder="eid" type="number" readonly hidden>
																				<input class="form-control" name="emechanic_name" id="emechanic_name" placeholder="Name" type="text">
																			</div>
																		</div>
																		<div class="form-group">
																			<div class="input-group input-group-alternative">
																				<div class="input-group-prepend">
																					<span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
																				</div>
                                                                                <textarea class="form-control" name="emechanic_details" id="emechanic_details" placeholder="Other Details" rows="4"></textarea>
																			</div>
																		</div>

																		<div class="text-center">
																			<button type="button" class="btn btn-white my-4" id="editsave">Update</button>
                                                                            <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" id="closemodel">Close</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>



    <div class="modal fade" id="modal-form2" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
												<div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
													<div class="modal-content">
														<div class="modal-body p-0">
															<div class="card bg-primary shadow border-0 mb-0">

																<div class="card-body px-lg-5 py-lg-5">
																	<div class="text-center text-white mb-4 h2">
																		Add New Mechanic
																	</div>
																	<form>
																		<div class="form-group mb-3">
																			<div class="input-group input-group-alternative">
																				<div class="input-group-prepend">
																					<span class="input-group-text"><i class="ni ni-email-83"></i></span>
																				</div>

																				<input class="form-control" name="amechanic_name" id="amechanic_name" placeholder="Name" type="text" required >
																			</div>
																		</div>
																		<div class="form-group">
																			<div class="input-group input-group-alternative">
																				<div class="input-group-prepend">
																					<span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
																				</div>
                                                                                <textarea  class="form-control" name="amechanic_details" id="amechanic_details" placeholder="Other Details" rows="4" required></textarea>
																			</div>
																		</div>

																		<div class="text-center">
																			<button type="button" class="btn btn-white my-4" id="addsave">Save</button>
                                                                            <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" id="closemodel2">Close</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
{% endblock %}
{% block datatablejs %}
    <!-- Data table -->
	<script src="{% static 'webapp/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'webapp/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>

<script>
		$(function(e) {
			$('#example').DataTable();

			var table = $('#example1').DataTable();

			$('#example2').DataTable( {
				"scrollY":        "200px",
				"scrollCollapse": true,
				"paging":         false
			});
		} );

	</script>
    <script>
    function alrt(frm){
		swal({
			title: "Are you sure?",
			text: "You will not be able to recover this Data!",
			type: "warning",
			showCancelButton: true,
			confirmButtonClass: "btn-danger",
			confirmButtonText: "Yes, delete it!",
			cancelButtonText: "No, cancel!",
			closeOnConfirm: false,
			closeOnCancel: true
		}, function(isConfirm) {
			if (isConfirm) {
			   deleteitem(frm);
			   swal("Deleted!", "Mechanic Profile has been deleted.", "success");

			}

		});

    }

    </script>

    <script>
    function sucdlt() {
        var v1 = document.getElementById('msg').value;

        if(v1==""){

        } else if(v1=="sucdlt"){

            swal('Success!', 'Category has been succesfully Deleted', 'success');
        }
        else if (v1=="failed"){
            swal({
			type: 'error',
			title: 'Oops...',
			text: 'Something went wrong!',
			footer: '<a href>Why do I have this issue?</a>'
		})
        }
        else if(v1=='sucadd'){
            swal('Success!', 'Category Added Successfully', 'success');
        }
        else if(v1=="sucdact"){
            swal('Success!', 'Category Disabled Successfully', 'success');
        }
         else if(v1=="sucact"){
            swal('Success!', 'Category Actived Successfully', 'success');
        }
        else if(v1=="sucedit"){
            swal('Success!', 'Category Edited Successfully', 'success');
        }

    }
    </script>
    <script>
    function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

var csrftoken = readCookie('csrftoken');
    var base_url = window.location.origin;
    function getall(){

        var table = $('#example').DataTable();

        //clear datatable
        table.clear().draw();

        //destroy datatable
        table.destroy();


        var settings = {
          "async": true,
          "crossDomain": true,
          "url": base_url + "/api/mechanic/",
          "method": "GET",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "Accept": "*/*",
            "Cache-Control": "no-cache",
            "Host": base_url,
            "Accept-Encoding": "gzip, deflate",
            "Content-Length": "54",
            "Cookie": "csrftoken=sSWIzSN6NR7qDiI79UHOi6ZxCvyGwGBJOeXDrWOfIbm9Eul8TFpca8S37QPHZFjr",
            "Connection": "keep-alive",
            "cache-control": "no-cache"
          }
}

$.ajax(settings).done(function (response) {
  var data = response;
    for (var i=0;i<data.length; i++){
          $('#example').DataTable().row.add([
            i+1,"EMPID"+ data[i]['mechanic_id'], data[i]['mechanic_name'],data[i]['other_mechanic_details'],
              "<button type='button' class='btn btn-blue mt-1 mb-1' onclick='return assigneditvalues("+data[i]['mechanic_id']+");' data-toggle='modal' data-target='#modal-form' >Edit</button>",
        "<button type='button' class='btn btn-danger mt-1 mb-1' onclick='return alrt("+data[i]['mechanic_id']+");'>Delete</button>"
            ]).draw();
    }

});



    }
    
    function deleteitem(id) {

       var data = null;

var xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === 4) {
    getall();
  }
});


xhr.open("DELETE", "http://127.0.0.1:8000/api/mechanic/"+id+"/");
xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
{#xhr.setRequestHeader("Authorization", "Basic YWRtaW46YWRtaW4xMjM=");#}
xhr.setRequestHeader("User-Agent", "PostmanRuntime/7.16.3");
xhr.setRequestHeader("Accept", "*/*");
xhr.setRequestHeader("Cache-Control", "no-cache");
xhr.setRequestHeader("Postman-Token", "888320cf-b3db-469f-a521-afb6bfdc8bec,42efe547-20fa-40e4-a398-37d8e5d15c8d");
xhr.setRequestHeader("Host", "127.0.0.1:8000");
xhr.setRequestHeader("Accept-Encoding", "gzip, deflate");
xhr.setRequestHeader("Cookie", "csrftoken=sSWIzSN6NR7qDiI79UHOi6ZxCvyGwGBJOeXDrWOfIbm9Eul8TFpca8S37QPHZFjr");
xhr.setRequestHeader("Content-Length", "");
xhr.setRequestHeader("Connection", "keep-alive");
xhr.setRequestHeader("cache-control", "no-cache");
xhr.setRequestHeader("X-CSRFToken",csrftoken);

xhr.send(data);

    }


    function assigneditvalues(id) {
        var settings = {
  "async": true,
  "crossDomain": true,
  "url": base_url+"/api/mechanic/"+id+"/",
  "method": "GET",
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded",
    "Authorization": "Basic YWRtaW46YWRtaW4xMjM=",
    "Accept": "*/*",
    "Cache-Control": "no-cache",
    "Host": base_url,
    "Accept-Encoding": "gzip, deflate",
    "Content-Length": "54",
    "Cookie": "csrftoken=sSWIzSN6NR7qDiI79UHOi6ZxCvyGwGBJOeXDrWOfIbm9Eul8TFpca8S37QPHZFjr",
    "Connection": "keep-alive",
    "cache-control": "no-cache"
  }
}

$.ajax(settings).done(function (response) {
        document.getElementById('eid').value = response['mechanic_id'];
        document.getElementById('emechanic_name').value = response['mechanic_name'];
        document.getElementById('emechanic_details').innerHTML = response['other_mechanic_details'];
});

    }



$("#editsave").click(function(){
  var id = document.getElementById('eid').value;
  var name = document.getElementById('emechanic_name').value;
  var details = $('textarea#emechanic_details').val();
  var settings = {
  "async": true,
  "crossDomain": true,
  "url": base_url+"/api/mechanic/"+id+"/",
  "method": "PUT",
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded",
    {#"Authorization": "Basic YWRtaW46YWRtaW4xMjM=",#}
    "Accept": "*/*",
    "Cache-Control": "no-cache",
    "Host": base_url,
    "Accept-Encoding": "gzip, deflate",
    "Cookie": "csrftoken=sSWIzSN6NR7qDiI79UHOi6ZxCvyGwGBJOeXDrWOfIbm9Eul8TFpca8S37QPHZFjr",
    "Content-Length": "",
    "Connection": "keep-alive",
    "cache-control": "no-cache",
      "X-CSRFToken":csrftoken,
  },
   "data": {
    "mechanic_name": name,
    "other_mechanic_details": details,
  }
}

$.ajax(settings).done(function (response) {
     document.getElementById("closemodel").click();
     getall();
    swal("Updated!", "Mechanic Profile has been updated.", "success");
});

});




    $("#addsave").click(function(){
  var name = document.getElementById('amechanic_name').value;
  var details = $('textarea#amechanic_details').val();
  var settings = {
  "async": true,
  "crossDomain": true,
  "url": base_url+"/api/mechanic/",
  "method": "POST",
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded",
    {#"Authorization": "Basic YWRtaW46YWRtaW4xMjM=",#}
    "Accept": "*/*",
    "Cache-Control": "no-cache",
    "Host": base_url,
    "Accept-Encoding": "gzip, deflate",
    "Cookie": "csrftoken=sSWIzSN6NR7qDiI79UHOi6ZxCvyGwGBJOeXDrWOfIbm9Eul8TFpca8S37QPHZFjr",
    "Content-Length": "",
    "Connection": "keep-alive",
    "cache-control": "no-cache",
      "X-CSRFToken":csrftoken,
  },
   "data": {
    "mechanic_name": name,
    "other_mechanic_details": details,
  }
}

$.ajax(settings).done(function (response) {
     document.getElementById("closemodel2").click();
     getall();
     document.getElementById('amechanic_name').value = "";
    $('#amechanic_details').val('');
    swal("Saved!", "Mechanic Profile has been added.", "success");
    return false;
});

});


    getall();
    </script>
    {% endblock %}
